*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color:#50b464;
    --text-color:#fff;
    --bg-color: #1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

*::selection{
    background: var(--main-color);
    color: #fff;
}

.logo{
    color: var(--text-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    background: var(--bg-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-icon{
    margin-right: 0.5rem;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item{
    height: 80px;
}

.navbar-link{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


body{
    color: var(--text-color);
    background: var(--bg-color);
}

/*main section*/
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content h1{
    font-size: 4rem;
    color: limegreen;
}

.main-btn{
    display: inline-block;
    padding: 10px 20px;
    background: #084cdc;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}
.main-btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main-btn::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: limegreen;
    transition: 0.4s;
    border-radius: 0.5rem;
}
.main-btn:hover{
    color: #fff;
}

.main-btn:hover:after{
    width: 100%;
}

.main-img-container{
    text-align: center;
}

#main-img{
    height: 80%;
    width: 80%;
}

/*responsive*/

@media screen and (max-width: 768px){
    .main-container{
        display: grid;
        grid-template-columns: auto;
        align-items:center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main-content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2{
        font-size: 3rem;
    }

    
}